/* Intro.css */

#title {
  background: lightsteelblue;
}

.navigation {
  background: lightsteelblue;
}

.button {
  display: inline-block;
  background: lightsteelblue;
  border-radius: 3px;
  padding: 5px;
  text-decoration: none;
}
