/* Intro.css */

#title {
  background: lightsteelblue;
}

.navigation {
  background: lightsteelblue;
}

.button {
  display: inline-block;
  background: lightsteelblue;
  border-radius: 4px;
  padding: 5px;
  text-decoration: none;
}

div.PathText {
  color: #003399;
  font-family: Verdana, Tahoma, Arial, Sans-Serif;
  font-size: 9pt;
  padding-left: 10px;
  padding-top: 5px;
}

